.products-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin:100px 150px;
    grid-gap: 50px;

}
.product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20PX;
   
}